@page "/homologacion"
@layout AdminLayout
@using ClientApp.Models;

<PageTitle>Homologaci贸n</PageTitle>

<h3>Administaci贸n de campos de Homologaci贸n</h3>

<div class="row py-2">
    <div class="col-md-6">
        <Dropdown AutoClose="true">
            <DropdownToggleButton Color="ButtonColor.Secondary">
                @getNameDefault()
            </DropdownToggleButton>
            <DropdownMenu>
                @if (listaVwHomologacion != null)
                    @foreach(var g in listaVwHomologacion) {
                        <DropdownItem @onclick="() => OnAutoCompleteChanged(g)">@g.MostrarWeb</DropdownItem>
                    }
            </DropdownMenu>
        </Dropdown>
    </div>
    <div class="col-md-6">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-2">
            @if (homologacionSelected != null) {
                <p>
                    <Button Type="ButtonType.Link" Color="ButtonColor.Primary" To="@($"/nuevo-homologacion/{homologacionSelected?.IdHomologacion}")">
                        <span>Agregar Registro</span>
                    </Button>
                </p>
            }
        </div>
    </div>
</div>

<div class="form-row py-2">
    <Grid
        Id="sortableGrid"
        @ref="grid"
        TItem="VwHomologacion"
        class="table table-hover table-bordered table-striped"
        DataProvider="HomologacionDataProvider"
        Responsive="true"
        AllowFiltering="true"
    >
        <GridColumn TItem="VwHomologacion" HeaderText="C贸digo Homologado" PropertyName="NombreHomologado">
            @context.NombreHomologado
            <input type="hidden" value="@context.IdHomologacion" />
        </GridColumn>
        <GridColumn TItem="VwHomologacion" HeaderText="Texto a Mostrar en la Web" PropertyName="MostrarWeb">
            @context.MostrarWeb
            <input type="hidden" value="@context.IdHomologacion" />
        </GridColumn>
        <GridColumn TItem="VwHomologacion" HeaderText="Tooltip Web" PropertyName="TooltipWeb">
            @context.TooltipWeb
        </GridColumn>
        <GridColumn TItem="VwHomologacion" HeaderText="Tipo de Dato" PropertyName="MascaraDato">
            @context.MascaraDato
        </GridColumn>
        <GridColumn TItem="VwHomologacion" HeaderText="Si No Hay Dato" PropertyName="SiNoHayDato">
            @context.SiNoHayDato
        </GridColumn>
        <GridColumn TItem="VwHomologacion" HeaderText="Editar" Filterable="false">
            <Button Type="ButtonType.Link" Color="ButtonColor.Secondary" Outline="true" To="@($"/editar-homologacion/{homologacionSelected.IdHomologacion}/{context.IdHomologacion}")" Size="Size.Small">
                <Icon Name="IconName.PencilSquare" />
            </Button>
        </GridColumn>
        <GridColumn TItem="VwHomologacion" HeaderText="Eliminar" Filterable="false">
            <Button Color="ButtonColor.Danger" Outline="true" @onclick="async () => await OnDeleteClick(context.IdHomologacion)" Size="Size.Small">
                <Icon Name="IconName.Trash3" />
            </Button>
        </GridColumn>
    </Grid>
</div>