@page "/homologacion"
@layout AdminLayout
@using ClientApp.Models

<PageTitle>Homologaci贸n</PageTitle>

<h3>Administaci贸n de Homologaci贸n</h3>

<div class="row py-2">
    <div class="col-md-4">
        <div>
            <label class="col-form-label">Organizaci贸n</label>
        </div>
        <Dropdown AutoClose="true">
            <DropdownToggleButton Color="ButtonColor.Secondary">
                @if (organizacionSelected?.MostrarWeb != null)
                {
                    @organizacionSelected.MostrarWeb
                }
                else
                {
                    <span>Seleccionar ORG</span>
                }
            </DropdownToggleButton>
            <DropdownMenu>
                @foreach(var opcion in listaOrganizaciones) {
                    <DropdownItem @onclick="async () => await CambiarSeleccionOrganizacion(opcion)">@opcion.MostrarWeb</DropdownItem>
                }
            </DropdownMenu>
        </Dropdown>
    </div>
    <div class="col-md-4">
        <div>
            <label class="col-form-label">Vistas</label>
        </div>
        <Dropdown AutoClose="true">
            <DropdownToggleButton Color="ButtonColor.Secondary">
                @if (vistaSelected?.VistaNombre != null)
                {
                    @vistaSelected.VistaNombre
                }
                else
                {
                    <span>Seleccionar Vista</span>
                }
            </DropdownToggleButton>
            <DropdownMenu>
                @foreach(var opcion in listaVistas) {
                    <DropdownItem @onclick="() => CambiarSeleccionVista(opcion)">@opcion.VistaNombre</DropdownItem>
                }
            </DropdownMenu>
        </Dropdown>
    </div>
    <div class="col-md-4">
        <div>
            <label class="col-form-label">Esquemas</label>
        </div>
        <Dropdown AutoClose="true">
            <DropdownToggleButton Color="ButtonColor.Secondary">
                @if (esquemaSelected?.MostrarWeb != null)
                {
                    @esquemaSelected.MostrarWeb
                }
                else
                {
                    <span>Seleccionar ESQ</span>
                }
            </DropdownToggleButton>
            <DropdownMenu>
                @foreach(var opcion in listaHomologacionEsquemas) {
                    <DropdownItem @onclick="() => CambiarSeleccionEsquema(opcion)">@opcion.MostrarWeb</DropdownItem>
                }
            </DropdownMenu>
        </Dropdown>
    </div>
    <div class="col-md-12 py-2">
        <Grid @ref="grid" TItem="VwHomologacion" class="table table-hover table-bordered table-striped" DataProvider="HomologacionDataProvider" Responsive="true">
            <GridColumn TItem="VwHomologacion" HeaderText="Esquema" PropertyName="MostrarWeb">
                @context.NombreHomologado
            </GridColumn>
            <GridColumn TItem="VwHomologacion" HeaderText="Vista" PropertyName="MostrarWeb">
                <Dropdown AutoClose="true">
                    <DropdownToggleButton Color="ButtonColor.Secondary">
                        Seleccione
                    </DropdownToggleButton>
                    <DropdownMenu>
                        @foreach(var opcion in propiedadesVista) {
                            <DropdownItem>@opcion</DropdownItem>
                        }
                    </DropdownMenu>
                </Dropdown>
            </GridColumn>
        </Grid>
    </div>
</div>