@page "/"
@page "/persona"
@using ClientApp.Services.IService
@using ClientApp.Models;
@inject IVwHomologacionRepository vwHomologacionRepository

<PageTitle>Inicio</PageTitle>

<!-- Start of Search Wrapper -->
<div class="search-area-wrapper">
        <div class="search-area container">
                <h3 class="search-header">BUSCADOR SERVICIOS DE EVALUACIÓN DE LA CONFORMIDAD ACREDITADOS EN LA CAN</h3>

                <EditForm Model="buscarRequest" OnValidSubmit="BuscarPalabraRequest" id="search-form" class="search-form clearfix" autocomplete="off">
                        <InputText @bind-Value="buscarRequest.TextoBuscar" class="search-term required" type="text" id="s" name="s" placeholder="Ingrese Texto a buscar" title="* Please enter a search term!" />
                        <input class="search-btn" type="submit" value="Buscar" />
                        <div id="search-error-container"></div>
                </EditForm>
        </div>
</div>
<!-- Start of Page Container -->
<div class="page-container">
        <div class="container">
                <div class="row">

                        <!-- start of page content -->
                        <div class="span12 page-content" style="margin-bottom: 10px;border-bottom: 1px solid #e8e8e8;">
                            <div class="row-fluid">

                                <div class="span2">
                                    <h4>Alcance</h4>
                                </div>
                                <div class="span2">
                                    <h4>Esquema Acredita</h4>
                                </div>
                                <div class="span2">
                                    <h4>Estado</h4>
                                </div>
                                <div class="span2">
                                    <h4>Organización Acredita</h4>
                                </div>
                                <div class="span2">
                                    <h4>País</h4>
                                </div>
                                <div class="span2">
                                    <h4>Razón Social</h4>
                                </div>
                            </div>
                        </div>

                        <!-- start of page content -->
                        <div class="span12 page-content">
                            <div class="row-fluid">

                                <div class="span2">
                                    @if (listaAlcance != null ) {
                                        <select id="listaAlcance" style="max-width: 100%">
                                            @foreach (var opcion in listaAlcance)
                                            {
                                                <option value="@opcion.IdHomologacion">@opcion.BusquedaEtiqueta</option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="span2">
                                    @if (listaEsquemaAcredita != null ) {
                                        <select id="listaEsquemaAcredita" style="max-width: 100%">
                                            @foreach (var opcion in listaEsquemaAcredita)
                                            {
                                                <option value="@opcion.IdHomologacion">@opcion.BusquedaEtiqueta</option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="span2">
                                    @if (ListaEstado != null ) {
                                        <select id="ListaEstado" style="max-width: 100%">
                                            @foreach (var opcion in ListaEstado)
                                            {
                                                <option value="@opcion.IdHomologacion">@opcion.BusquedaEtiqueta</option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="span2">
                                    @if (ListaOrganizacionAcredita != null ) {
                                        <select id="ListaOrganizacionAcredita" style="max-width: 100%">
                                            @foreach (var opcion in ListaOrganizacionAcredita)
                                            {
                                                <option value="@opcion.IdHomologacion">@opcion.BusquedaEtiqueta</option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="span2">
                                    @if (listaPais != null ) {
                                        <select id="listaPais" style="max-width: 100%">
                                            @foreach (var opcion in listaPais)
                                            {
                                                <option value="@opcion.IdHomologacion">@opcion.BusquedaEtiqueta</option>
                                            }
                                        </select>
                                    }
                                </div>
                                <div class="span2">
                                    @if (listaRazonSocial != null ) {
                                        <select id="listaRazonSocial" style="max-width: 100%">
                                                @foreach (var opcion in listaRazonSocial)
                                                {
                                                    <option value="@opcion.IdHomologacion">@opcion.BusquedaEtiqueta</option>
                                                }
                                        </select>
                                        }
                                </div>
                            </div>
                        </div>
                </div>
                @if (listOrganizacion != null) {
        <table class="table">
        <thead>
            <tr>
                <th>Razón Social</th>
                <th>Código de Acreditación</th>
                <th>Área de Acreditación</th>
                <th>Actividad</th>
                <th>Ciudad</th>
                <th>Estado</th>
                <th>Información Adicional</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var row in listOrganizacion) {
                <tr>
                    <td>@row.RazonSocial</td>
                    <td>@row.CodigoAcreditacion</td>
                    <td>@row.AreaAcreditacion</td>
                    <td>@row.Actividad</td>
                    <td>@row.Ciudad</td>
                    <td>@row.Estado</td>
                    <td>id: @row.IdOrganizacion campo{@row.IdOrganizacion}: retiro campo: retiro {@row.IdOrganizacion}</td>
                </tr>
            }
        </tbody>
    </table>
}
        </div>
</div>

@code{
    private BuscarRequest buscarRequest = new BuscarRequest();

    [Inject]
    public IOrganizacionRepository servicio { get; set; }

    private List<VwHomologacion>? listaAlcance;
    private List<VwHomologacion>? listaEsquemaAcredita;
    private List<VwHomologacion>? ListaEstado;
    private List<VwHomologacion>? ListaOrganizacionAcredita;
    private List<VwHomologacion>? listaPais;
    private List<VwHomologacion>? listaRazonSocial;

    private List<Organizacion>? listOrganizacion;

    protected override async Task OnInitializedAsync()
    {
        listaAlcance = await vwHomologacionRepository.GetHomologacionAsync("alcance");
        listaEsquemaAcredita = await vwHomologacionRepository.GetHomologacionAsync("esq_acredita");
        ListaEstado = await vwHomologacionRepository.GetHomologacionAsync("estado");
        ListaOrganizacionAcredita = await vwHomologacionRepository.GetHomologacionAsync("org_acredita");
        listaPais = await vwHomologacionRepository.GetHomologacionAsync("pais");
        listaRazonSocial = await vwHomologacionRepository.GetHomologacionAsync("razon_social");
    }

    private async Task BuscarPalabraRequest()
    {
        listOrganizacion = await servicio.BuscarPalabraAsync("Field", buscarRequest.TextoBuscar);
    }
}
