@using ClientApp.Models;
@using Newtonsoft.Json;

<div class="py-2">
    <Modal @ref="modal" Size="ModalSize.ExtraLarge"/>

    @if (listaEtiquetasGrilla != null)
    {
        <Grid
            @ref="grid"
            TItem="DataHomologacionEsquema"
            class="table table-hover table-bordered table-striped"
            DataProvider="ResultadoBusquedaDataProvider"
            Responsive="true"
            AllowSorting="true"
            AllowPaging="true"
            PageSize="5"
            PageSizeSelectorVisible="true"
            PageSizeSelectorItems="@(new int[] { 5, 10, 20, 30 })"
            ItemsPerPageText="Items por página"
        >
            @foreach(var etiqueta in listaEtiquetasGrilla.OrderBy(c => c.MostrarWebOrden)) {
                <GridColumn TItem="DataHomologacionEsquema" PropertyName="@etiqueta.MostrarWeb" SortString="@etiqueta.MostrarWeb">
                    <HeaderContent>
                        <Tooltip Title="@etiqueta.TooltipWeb">@etiqueta.MostrarWeb</Tooltip>
                    </HeaderContent>
                    <ChildContent>
                        @context?.DataEsquemaJson?.FirstOrDefault(f => f.IdHomologacion == etiqueta.IdHomologacion)?.Data
                    </ChildContent>
                </GridColumn>
            }
            <GridColumn TItem="DataHomologacionEsquema" HeaderText="-">
                <Button Color="ButtonColor.Secondary" Outline="true" Size="Size.Small" @onclick="() => showModal(context)">
                    <Icon Name="IconName.Front" />
                </Button>
            </GridColumn>
            <GridColumn TItem="DataHomologacionEsquema" HeaderText="-">
                <Button Color="ButtonColor.Secondary" Outline="true" Size="Size.Small">
                    <Icon Name="IconName.FileTypePdf" />
                </Button>
            </GridColumn>
        </Grid>
    }
</div>