@page "/usuarios"
@using Microsoft.AspNetCore.Authorization;
@using ClientApp.Services.IService
@using ClientApp.Models;
@inject IUsuariosRepository usuariosRepository
@attribute [Authorize]

<PageTitle>Usuarios</PageTitle>

<div class="page-container">
    <div class="container">
        <div class="row">
            <NavMenuAdministracion />
            <div class="span8 page-content">
                <h1>Administración de Usuarios</h1>
                @if (listaUsuarios == null)
                {
                    <p><em>Loading...</em></p>
                }
                else
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Foto</th>
                                <th>Perfil</th>
                                <th>Nombre</th>
                                <th>Teléfono</th>
                                <th>Email</th>
                                <th>Ingreso</th>
                                <th>-</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var usr in listaUsuarios)
                            {
                                <tr>
                                    <td>-</td>
                                    <td>@usr.Rol</td>
                                    <td>@usr.Nombre @usr.Apellido</td>
                                    <td>@usr.Telefono</td>
                                    <td>@usr.Email</td>
                                    <td>-</td>
                                    <td>
                                        <NavLink class="nav-link" href="@($"editar-usuario/{@usr.IdUsuario}")">
                                            <i class="bi bi-pencil" />
                                        </NavLink>
                                    </td>
                                    <td><i class="bi bi-trash" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <NavLink class="nav-link" href="nuevo-usuario">
                        <span class="p-2">Nuevo</span>
                    </NavLink>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private List<Usuario>? listaUsuarios;

    protected override async Task OnInitializedAsync()
    {
        listaUsuarios = await usuariosRepository.GetUsuariosAsync();
    }
}
